@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: poppins, sans-serif;
  background-color: #e2e6ea;
}

.container {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 40px 80px;
  border-radius: 4px;
  padding: 20px 50vh;
}

h1 {
  margin-bottom: 20px;
  font-weight: bold;
}

p.content {
  text-align: justify;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  padding-right: 10px;
  color: #000;
}
i.download {
  padding-left: 10px;
}

.btn-contact {
  background-color: #008080;
  border-radius: 24px;
  color: #fff;
  font-size: 16px;
  padding: 8px 30px;
  display: block;
  margin-bottom: 15px;
  border: none;
}

.btn-contact:hover {
  background-color: #005858;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 30px;
}

.social-media {
  margin-top: 40px;
  text-align: center;
}

.card {
  text-align: center;
  margin: 40px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40%;
  border-radius: 5px;
}

img.img-profile {
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 6px 16px;
}
